
#calc-body {
    max-width: 25%;
    background-color: rgb(86, 100, 156);
    padding-bottom: 20px;



    margin-left: 1%;

    border-radius: 6px;
}

#calc-display {
    background-color: rgb(52, 61, 97);
    color: white;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: xx-large;

    padding-right: 2.5%;
    
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}

#buttons-container{
    position: relative;
    
    width: 80%;
    /* left: 10%; */
    margin: auto;
    background-color: rgb(75, 128, 168);
    padding: 6px;

    border-radius: 3px;
}
#buttons-container > button {
    position: relative;
    left: 2.5%;
    width: 10%;
    height: 25%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;

    background-color: rgba(255, 255, 255, 0.507);

    border-color: green;
    border-radius: 2.5px;
    border-width: 1px;

    padding: 5px;
    margin: 0.3px;
    /* margin-top: 1px; */
}
#buttons-container > button:hover {
    border-color: green;
    border-style: dotted;

}

body{
    background-color: rgb(42, 44, 71);
}